.block {
  display: block; /*formato bloque, forma*/
  width: 200px; /*ancho*/
  background-color: powderblue;
  padding: 10px; /*del elemento al borde*/
  margin: 10px 0; /*el primer numero es vertical y el segundo horizontal*/
}

.inline {
  display: inline;
  background-color: paleturquoise;
  padding: 10px;
  width: 200px;
  height: 30px;
}

.inline-block {
  display: inline-block;
  width: 100px;
  margin: 25px;
  padding: 50px;
  background-color: pink;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-item {
  display: flex;
  justify-content: space-between;
}

.block_1 {
  background-color: rgb(28, 88, 145);
  height: 500px;
  width: 760px;
}

.block_2 {
  display: flex;
  justify-content: center;
  background-color: rgb(71, 155, 223);
  height: 350px;
  width: 250px;
  color: white;
  font-size: small;
  font-weight: lighter;
  font-family: sans-serif;
}
